{% extends '@admin/dashboard.twig' %}


{% block title %}Dashboard blog edit{% endblock %}

{% block content %}

    <form action="{{ path('admin.blog.update', {id: item.id}) }}" method="POST">

        {% include '@blog/admin/form.twig' %}
        <button type="submit">valider</button>
    </form>


{% endblock %}
