<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="widget-area-social">
                        <div class="widget-area-social-links text-center mt-0">
                            <div class="link big facebook-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-facebook"></i>
                            </div>
                            <div class="link big twitter-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-twitter"></i>
                            </div>
                            <div class="link big instagram-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-instagram"></i>
                            </div>
                            <div class="link big youtube-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-youtube"></i>
                            </div>
                            <div class="link big linkedin-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-linkedin"></i>
                            </div>
                            <div class="link big google-link">
                                <div class="link-background"></div>
                                <div class="link-overlay"></div>
                                <i class="fa fa-google"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    © All rights reserved to <a class="color" href="//themeforest.net/user/tk-themes/portfolio">TK-Themes</a>
                </div>
            </div>
        </div>
    </div>
</footer>


<a id="backtotop" class="fa fa-chevron-up" href="javascript:void(0)"></a>