<div class="site">
    <header id="header" class="header header-static header-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="header-top-info">
                        <span> <i class="fa fa-mobile km-phone-top"></i>0673492434</span>
                        <span> <i class="fa fa-envelope-o"></i>email@contact.com</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="header-top-social-icons text-right">
                        <a class="link" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="link" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="link" href="#"><i class="fa fa-instagram"></i></a>
                        <a class="link" href="#"><i class="fa fa-youtube"></i></a>
                        <a class="link" href="#"><i class="fa fa-linkedin"></i></a>
                        <a class="link" href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="logo">
                        <a href="/">
                            <img src="images/logo.png" alt="Kameleon" class="logo">
                            <img src="images/logo.png" alt="Kameleon" class="logo-scroll">
                        </a>
                        <div class="mobile-icon">
                            <div class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="main-menu menu-right">
                        <div class="header-buttons">
                            <div class="search-link additional-link">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="widgetarea-link additional-link">
                                <div class="widgetarea-link-inner">
                                    <div class="menu-bar">
                                        <span class="bar bar-1"></span>
                                        <span class="bar bar-2"></span>
                                        <span class="bar bar-3"></span>
                                        <span class="bar bar-4"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="menu">
                            <li class="">
                                <a href="#">Accueil</a>
                            </li>
                            <li>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <a href="#">Galerie</a>
                            </li>
                            <li>
                                <a href="{{ path('blog.index') }}">Blog</a>
                            </li>
                            <li>
                                <a href="#">A-Propos</a>
                            </li>
                            <li>
                                <a href="{{ path('contact.index') }}">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wide-search">
                        <form class="form-search">
                            <input type="text" name="s" placeholder="Search...">
                            <span class="km-input-border"></span>
                        </form>
                        <div class="kameleon-search-closer">✕</div>
                    </div>
                </div>
            </div>
        </div>
    </header>