{% extends "default.twig" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div id="main">
        <div class="section section-bg-contact-1 section-cover pt-28 pb-26">
            <div class="bg-overlay-light"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="section-title white text-center fw-bolder fz-76 fz-xs-35 lh-76 lh-xs-40 ls-2 uppercase mb-3">Entrons en contact</h2>
                        <div class="section-title dark text-center fw-bolder fz-76 fz-xs-35 lh-76 lh-xs-40 ls-2">
                            <div id="typed-strings">
                                <p>Pour votre projet</p>
                                <p>Pour un renseignement</p>
                                <p>Pour un partenariat</p>
                                <p>Pour être recruté</p>
                            </div>
                            <span id="typed" class="dark fw-bolder"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ver-separator-container">
            <div class="ver-separator"></div>
        </div>
        <div class="section pt-14 pb-14">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center mb-6">
                            <h2 class="section-title fw-bolder fz-32 lh-32 ls-2 mb-3">Concrétisons votre projet ensemble</h2>
                            <p>
                                Nous vous guidons tout au long de la procédure jusqu'à ce votre activité soit en ligne.<br />
                                Rien de mieux que d'etre épaulé par une équipe de professionnels qualifiés.
                            </p>
                            <div class="heading-line mt-0">
                                <div class="heading-line-inner-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="block-icon-box style-3 text-center">
                            <div class="icon">
                                <div class="icon-inner">
                                    <i class="fa fa-cog"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3 class="title">Configuration sur mesure</h3>
                                <p>
                                    One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into horrible vermin. his head a little he could.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-icon-box style-3 text-center">
                            <div class="icon">
                                <div class="icon-inner">
                                    <i class="fa fa-database"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3 class="title">Confidentialité sur vos données</h3>
                                <p>
                                    One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into horrible vermin. his head a little he could.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-icon-box style-3 text-center">
                            <div class="icon">
                                <div class="icon-inner">
                                    <i class="fa fa-cube"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h3 class="title">Découpé en bundle</h3>
                                <p>
                                    One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into horrible vermin. his head a little he could.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 p-0">
                        <div id="map"></div>
                    </div>
                    <div class="col-sm-6 pr-6 pl-6">
                        <div class="mt-11"></div>
                        <h2 class="section-title fw-bolder fz-32 lh-32 ls-2 mb-2">POUR NOUS RENCONTRER</h2>
                        <div class="heading-line mt-0 mb-2">
                            <div class="heading-line-inner-3 ml-0 color"></div>
                        </div>
                        <p>
                            Venez nous rencontrer autour d'une tasse de café. On prendra le temps naissaire pour vous expliquer les démarche à suivre pour réaliser votre site web. Vous avez des questions en suspent n'hésitez pas à passer. Il eLorem ipsum dolor sit amet, consectetur adipisicing elit. Est harum hic illo odit repellendus voluptas voluptatum! Blanditiis consequuntur deleniti fugiat maxime odit perferendis quia quis repellendus? Dolorem maxime omnis quod!
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos exercitationem optio placeat veniam voluptates? Aliquam asperiores blanditiis suscipit. Aperiam culpa eos esse inventore molestias nulla officiis quaerat tempora veritatis voluptatum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem dolores esse excepturi facilis mollitia! Accusantium consectetur dolor dolores eum ipsa, ipsum nisi officiis pariatur provident quibusdam reprehenderit rerum sint! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cum facilis illo illum ipsam magnam nemo non optio quas rem? Amet delectus in nihil omnis sed? Aperiam hic nemo similique.
                        </p>
                        <ul class="icon-list mt-4">
                            <li>
                                <div class="icon">
                                    <div class="icon-inner">
                                        <i class="fa fa-mobile"></i>
                                    </div>
                                </div>
                                <div class="content">
                                    +923 893 7451
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <div class="icon-inner">
                                        <i class="fa fa-map-signs"></i>
                                    </div>
                                </div>
                                <div class="content">
                                    Champ de Mars 5 Avenue Anatole France 75007 Paris
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <div class="icon-inner">
                                        <i class="fa fa-calendar-o"></i>
                                    </div>
                                </div>
                                <div class="content">
                                    Monday – Friday 8:00 AM to 17:00 PM
                                </div>
                            </li>
                        </ul>
                        <div class="mb-11"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pt-10 pb-10" id="form-contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-push-2">
                        <div class="text-center">
                            <h2 class="section-title fw-bolder fz-32 ls-3 mb-2">Le point de départ</h2>
                            <p>
                                Afin de concrétiser votre projet de commuication numérique, il est important de cibler sont vos besoins. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur assumenda cumque dicta est eum facilis ipsum iste iure laboriosam non, nostrum nulla obcaecati odio odit quo tenetur, ullam vero.
                            </p>
                            <div class="heading-line mt-2 mb-2">
                                <div class="heading-line-inner-3"></div>
                            </div>
                            {!% include 'contact/form.twig' %!}
                            <div class="widget-area-social mt-5">
                                <div class="widget-area-social-links text-center mt-0">
                                    <div class="link big facebook-link">
                                        <div class="link-background"></div>
                                        <div class="link-overlay"></div>
                                        <i class="fa fa-facebook"></i>
                                    </div>
                                    <div class="link big twitter-link">
                                        <div class="link-background"></div>
                                        <div class="link-overlay"></div>
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                    <div class="link big instagram-link">
                                        <div class="link-background"></div>
                                        <div class="link-overlay"></div>
                                        <i class="fa fa-instagram"></i>
                                    </div>
                                    <div class="link big youtube-link">
                                        <div class="link-background"></div>
                                        <div class="link-overlay"></div>
                                        <i class="fa fa-youtube"></i>
                                    </div>
                                    <div class="link big linkedin-link">
                                        <div class="link-background"></div>
                                        <div class="link-overlay"></div>
                                        <i class="fa fa-linkedin"></i>
                                    </div>
                                    <div class="link big google-link">
                                        <div class="link-background"></div>
                                        <div class="link-overlay"></div>
                                        <i class="fa fa-google"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {!{ js('js/bootstrap-progressbar.min.js') }!}
    {!{ js('js/typed.js') }!}
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDwtb7cR_XBPEvxtQ_Yq3_xKsOWQroCTPA&amp;sensor=false"></script>
{% endblock %}